[Unit]
Description=2smard_activator
After=eps.service
Requires=eps.service

[Service]
Type=simple
#User=misc
OnBootSec=30min
ExecStart=/opt/cdh_2smard/2smard_activator

[Install]
WantedBy=LEOP.target
